html,
body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  font-family: Roboto,
  Inter,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Oxygen,
  Ubuntu,
  Cantarell,
  "Fira Sans",
  "Droid Sans",
  "Helvetica Neue",
  sans-serif;
  font-size: 16px;
  color: var(--primary-text);

  background: var(--primary-background);
}

/* Отключение стандартного креста для очистки в input для браузеров IE и edge */
input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* Отключение стандартного креста для очистки в input для браузеров webkit */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Отключение стандартных стрелок для изменения чисел в input type number */
input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.mh-100 {
  min-height: 100%;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.gap-24 {
  gap: 24px;
}

.gap-32 {
  gap: 32px;
}

.gap-64 {
  gap: 64px;
}

.gap-16 {
  gap: 16px;
}

.gap-12 {
  gap: 12px;
}

.gap-10 {
  gap: 10px;
}

.gap-8 {
  gap: 8px;
}

.gap-4 {
  gap: 4px;
}

.jc-start {
  justify-content: flex-start;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.jc-end {
  justify-content: flex-end;
}

.ai-center {
  align-items: center;
}

.ai-start {
  align-items: flex-start;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.no-decorations {
  text-decoration: none;
}

.flex-1 {
  flex: 1;
}


.disabled {
  pointer-events: none;
}

.dark-text {
  color: var(--dark-text);
}

.select-none {
  user-select: none;
}
