:root {
  --primary-background: #202938;
  --sidebar-background: #252f3f;
  --primary-text: #f9f5f6;
  --dark-text: #2f363c;
  --light-text: rgb(141 151 165);

  // --accent-color: #F80;
  --accent-color: #abff2e;
  --accent-light: rgb(171 255 46 / 30%);

  // --accent-light: rgb(255 136 0 / 30%);
  --error: #A63232;
  --search-color: #263140;
}
