.p {
  &-12 {
    padding: 12px;
  }

  &-16 {
    padding: 16px;
  }

  &-24 {
    padding: 24px;
  }

  &-8 {
    padding: 8px;
  }

  &-32 {
    padding: 32px;
  }

  &-48 {
    padding: 48px;
  }

  &x {
    &-32 {
      padding-right: 32px;
      padding-left: 32px;
    }

    &-24 {
      padding-right: 24px;
      padding-left: 24px;
    }

    &-20 {
      padding-right: 20px;
      padding-left: 20px;
    }

    &-16 {
      padding-right: 16px;
      padding-left: 16px;
    }
  }

  &y {
    &-12 {
      padding-top: 12px;
      padding-bottom: 12px;
    }

    &-16 {
      padding-top: 16px;
      padding-bottom: 16px;
    }

    &-24 {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }
}
